body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("dancefloor.jpg");
  background-repeat: no-repeat;
  background-attachment: stretch;
  background-position: center;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.lineupButton, .danceButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  width: 50px;
  height: 50px;
  position:absolute;
}

img {
  height: 50px;
  width: 50px;
}
